.DS_Store
.idea
*.iml
.clj-kondo
.lsp
*.log
tmp/

/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
/.cpcache

/samples

resources/dev-config.edn
src/net/gosha/atproto/scratch.clj
