{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/data.json {:mvn/version "2.5.0"}
        http-kit/http-kit {:mvn/version "2.8.0"}
        metosin/reitit {:mvn/version "0.7.2"}
        com.github.oliyh/martian {:mvn/version "0.1.30"}
        com.github.oliyh/martian-httpkit {:mvn/version "0.1.30"}}}
